# Checks: 'modernize*,-modernize-use-trailing-return-type'
Checks: '*,-llvmlibc-*,-fuchsia-*,-altera-*,-hicpp-no-array-decay,-hicpp-explicit-conversions,-hicpp-special-member-functions'
FormatStyle: 'file'
