[submodule "@rh-ogorod/js-configs"]
	path = external/js-configs
	url = git@github.com:rh-ogorod/js-configs.git
	branch = main
[submodule "@rh-ogorod/bazelbuild-rules-compdb"]
	path = external/bazelbuild-rules-compdb
	url = git@github.com:rh-ogorod/bazelbuild-rules-compdb.git
	branch = main
